#sahilibox {
    z-index: 999;
    display: none;
    
    .overlay-bg {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.8);
    }
    
    .overlay {
        position: fixed;
        z-index: 99999;
        width: 640px;
        max-width: 100%;
        
        @media all and (max-width: 960px) {
            left: 0;
            margin-left: 0;   
        }
        
        .content {
            width: 100%;
            min-height: 0;
            background-color: #fff;
            padding: 0px;
            margin: 0;
            border: 0;
        }
        
        .image {
            position: relative;
            display: inline-block;
            zoom: 1;
            *display: inline;
            width: 70%;
            vertical-align: top;
            width: 640px;
            line-height: 0;
            background-color: #fff;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            
            img {
                max-width: 100%;
            }
        }
        
        .description {
            display: inline-block;
            zoom: 1;
            *display: inline;
            width: 30%;
            height: 100%;
            vertical-align: top;
            line-height: 0;
            
            h2 {
                display: block;
                width: 185px;
                color: #00400D;
                font-family: 'Arial Narrow'; 
                font-size: 22px;
                line-height: 24px;
                margin: 30px 20px 20px 20px;
            }
            
            p {
                font-family: 'Arial';
                font-size: 13px;
                line-height: 20px;
                margin: 0 20px;
            }
            
            .desc-bottom {
                position: absolute;
                bottom: 10px;
                right: 0;
                width: 30%;
            }
             
        }
        
        .pagination {
            *position: relative;
            margin-top: 20px;
            overflow: hidden;
            
            ul {
                display: block;
                zoom: 1;
                list-style: none;
                padding: 0;
                margin: 0;
            }
            
            li {
                position: relative;
                float: left;
                width: 100px;
                padding: 0;
                margin: 0;
                line-height: 0;
                cursor: pointer;
                max-height: 94px;
                overflow: hidden;
                background-color: #fff;
                
                .active {
                    display: none;
                }
                
                &.sb-active {
                    .active {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-color: rgba(234, 57, 57, 0.1);
                    }
                }
            }
            
            img {
                width: 100%;
            }
        }
        
        .prev {
            position: absolute;
            left: -35px;
            top: 50%;
            margin-top: -10px;
            cursor: pointer;
        }
        
        .next {
            position: absolute;
            right: -50px;
            top: 50%;
            margin-top: -10px;
            cursor: pointer;
        }
        
        .close {
            z-index: 999;
            position: absolute;
            right: -5px;
            top: -15px;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        
        .icon-arrow-right,
        .icon-arrow-left,
        .icon-cross {
            font-size: 30px;
            color: #fff;
        }   
        
    }
}



